.search {
   display: flex;
   justify-content: space-between;
}
 
.search-box {
   width: 80%;
   height: 55px;
   font-size: 16px;
   text-align: center;
}
 
.button {
 background-color: #6A8D92;
 border: none;
 color: #fff;
 text-align: center;
 text-decoration: none;
 font-size: 16px;
 cursor: pointer;
 width:100px;
 margin: 0;
 padding: 0;
}