.movie {
   color: #D8CBC7;
}
 
.title-year {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
 
.title, .year {
   font-weight: bold;
}
 
.poster img{
   border-radius: 5%;
   width: auto;
   max-height: 500px;
}

.chatbutton{
   width: 100%;
   background-color: #6A8D92 !important;
   border: none !important;
   height:40px;
   color: #fff;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;

}