.movie {
   color: #D8CBC7;
}
 
.title-year {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
 
.title, .year {
   font-weight: bold;
}
 
.poster img{
   border-radius: 5%;
   width: auto;
   max-height: 500px;
}
.btn{
   width: 100%;
}